/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*My Style*/

:root {
  --brightorange: hsl(31, 77%, 52%);
  --darkcyan: hsl(184, 100%, 22%);
  --verydarkcyan: hsl(179, 100%, 13%);
  --transparentwhiteparagraphs: hsla(0, 0%, 100%, 0.75);
  --verylightgraybackgroundheadingsbuttons: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background-color: aqua;
  max-width: 730px;
  width: 85%;
  margin: 100px auto;
}

.box-1,
.box-2,
.box-3 {
  width: 100%;
  padding: 3.4rem;
  box-sizing: border-box;
}

.box-1 {
  background-color: var(--brightorange);
}

.box-2 {
  background-color: var(--darkcyan);
}

.box-3 {
  background-color: var(--verydarkcyan);
}

.box-1 span {
  background-image: url(./images/icon-sedans.svg);
  display: block;
  width: 64px;
  height: 40px;
}

.box-2 span {
  background-image: url(./images/icon-suvs.svg);
  display: block;
  width: 64px;
  height: 40px;
}

.box-3 span {
  background-image: url(./images/icon-luxury.svg);
  display: block;
  width: 64px;
  height: 40px;
}

.container .title {
  margin: 2rem 0;
  font-size: 2rem;
  font-family: "Big Shoulders Display", cursive;
  color: white;
}

.container .articles {
  margin: 2rem 0;
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.3rem;
  color: var(--transparentwhiteparagraphs);
}

.container button {
  border: none;
  border-radius: 3rem;
  width: 7.5rem;
  height: 2.5rem;
}

.container .box-1 button {
  color: var(--brightorange);
}
.container .box-2 button {
  color: var(--darkcyan);
}
.container .box-3 button {
  color: var(--verydarkcyan);
}

.container button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

@media (min-width: 730px) {
  .container {
    width: 795px;
    display: flex;
  }

  .box-1,
  .box-2,
  .box-3 {
    width: 100%;
    padding: 2.4rem;
  }

  .container .articles {
    font-size: 0.75rem;
  }

  .container button {
    margin-top: 3.5rem;
  }
}
